*{
    box-sizing: border-box;

}

html{
    background:url('https://images.unsplash.com/photo-1457052002176-2d16a4f4a3ff?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')no-repeat center center fixed;
    background-size:cover;
}

/*WELCOME*/

.welcome-main-container{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.welcome{
    width: 600px;
    height: 250px;
    display: flex;
    background:rgba(205, 216, 219,0.2);
    border-radius: 9px;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    color:#D7D2DB;
    font-size:45px;
    font-weight: bold;
    font-family: 'Germania One', cursive;

    line-height: 30%;
}

.welcome h3{
    color:#6F14C9;
}

#logo-welcome-page{
    width: 230px;
    height: 230px;
    margin:0 auto;
    border-radius: 10px;
}

/*REGISTRATION*/
.registration{

    position: relative;
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 0 auto;
    padding:5px 5px;
    margin-top: 50px;

}

.registration-error{
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    color:red;
    margin: 0 auto;

}

.registration input{
    width: 300px;
    height: 45px;
    margin-top: 10px;
    transition:  all .35s ease-in-out;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.registration input:focus{
    /*transition: all 200ms ease-in;*/
    transform: scale(1.2);
    /*width: 300px;*/

}

.registration button{
    margin-top: 10px;
    width: 300px;
    height: 45px;
    font-weight: bold;
    background-color:#6F14C9;
    font-family: 'Germania One', cursive;
    font-size: 26px;
    cursor: pointer;
}
.loginLink{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 300px;
    height: 45px;
    margin-top:8px;
    padding-top: 3px;
    /*border:*/
    background-color:#17c914;
    color:black;
    font-family: 'Germania One', cursive;
    font-size: 26px;
    cursor: pointer;
    z-index:99999;
}
/*LOGIN*/
.login-container{
    position: relative;
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 0 auto;
    padding:5px 5px;
    margin-top: 30px;

}
.login-container input{
    width: 250px;
    height: 45px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.login-container button{
    margin-top: 10px;
    width: 250px;
    height: 45px;
    font-weight: bold;
    background-color:#6F14C9;
    font-family: 'Germania One', cursive;
    font-size: 20px;
    cursor: pointer;
}



#error-message{
    color:red;
    width: 280px;
    font-size: 24px;
    margin-left: 975px;
    margin-top: -88px;
    /*border: solid yellow 2px;*/
}



/*NAVBAR*/
#navbar-container{
    transform: translateY(-5px);
    margin-top:-80px;
    margin-left:200px;
    width: 600px;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    height: 200px;
}

#logo-img{
    width: 120px;
    height: 120px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 5px;

}
/*PROFILE IMAGE*/
/*.profilePic{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 200px;
    border-radius: 6px;
    margin-left: 2px;
    margin-top: -45px;
    color:white;
    border:solid yellow 3px;
}*/

#profilePic-container{
    position:absolute;
    width: 200px;
    /*border: solid green 2px;*/
    left:80%;
    margin-top: -240px;
}

#profilePic-container img{
    width: 160px;
    height: 170px;
    border:solid white 2px;
    border-radius: 8px;
}

/*IMAGE Upload*/
.imageupload{
    position: absolute;
    margin-left: 971px;
    width: 350px;
    height: 200px;
    border:solid white 2px;
    /*background: rgba(213, 233, 13,0.6);*/
    border-radius:6px;
}

.imageupload button{
    width:80px;
    font-weight: bold;
}

#close-button{
margin-left: 320px;
margin-top:-16px;
cursor: pointer;
font-size: 1.1rem;
color:#711BA5 ;
}

#file{
    display: none;
}

#upload-button{
    color:#711BA5 ;
    font-size: 22px;
    font-weight: bold;
}

#changeimage-button{
    margin-top: 10px;
    border-radius: 8px;
    background:rgba(24, 224, 1,0.5  );

     width: 166px;
     height: 45px;
     font-weight: bold;
     font-size: 18px;
     font-family: 'Germania One', cursive;
}

#showPeople{
    width: 250px;
    height: 250px;
    background:white;
    font-weight: bold;
}


.userImageAndBio img{
    width: 450px;
    height: 500px;
    border-radius: 8px;
}

.userImageAndBio{
    position:relative;
    margin-top: 0;
    margin-left: 90px;
    width: 820px;
    display: flex;
    height: 450px;
    color:white;
}
.bio-wrapper{
    font-size: 24px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /*justify-content: center;*/
}

.bio-container{
    padding:8px;
    color:black;
    border: solid white 2px;
    width:300px;
    height:170px;
    background: rgba(31, 133, 105,0.8)
}


.showBio button{
    margin-left:35px;
    margin-top:110px;
    width: 200px;
    height: 45px;
    background-color:#6F14C9;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    cursor: pointer;
    color:white;
    border-radius: 5px;
}


.insertbio-container{
    display: flex;
    flex-direction: column;
    margin-top:60px;
    height: 200px;
}
.insertbio-container button{
    font-size: 18px;
    margin-top: 5px;
    width: 80px;
    height: 30px;
    font-weight: bold;

}


.otherUsers-profilePic{
    margin-top:-10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherUsers-profilePic img{
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 10px;

}

#otherUsersName{
    position: absolute;
    margin-top:-90px;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:34px;
    font-weight: bold;
}

.friendButton{
    position:absolute;
    color:white;
    /*border: solid red 3px;*/
    width: 240px;
    margin-left: 45%;
    margin-top: 19%;
}
.friendButton button{
    color:white;
    position: relative;
    /*margin-left: 523px;
    margin-top: 68px;*/
    width: 210px;
    height: 55px;
    font-weight: bold;
    border-radius: 8px;
    font-size:20px;
    cursor: pointer;
    background: rgba(12, 185, 231,0.5)
}

.friendButton button:hover{
    color:#777E80
}



#allFriends{
    display: flex;
    background: rgba(231, 219, 232,0.6);
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;

}

#allFriends img{
    width: 130px;
    height: 140px;
    border-radius: 25px;
    margin-left: 8px;
}

.friends-container{
    display: flex;
    width: 350px;
    margin-left: 80px;
}

.friends-container h2{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

#allFriends p {
    font-family: 'Roboto', sans-serif;
    font-size:26px;
}


#allFriends button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background: rgba(12, 185, 231,0.5)
}
/*.pendings-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border:solid yellow 2px;
}*/

.friendsList img{
    width: 190px;
    height: 92px;
}

.friends-chat-Link{
    margin-top: 5px;
    font-size: 38px;
    text-decoration:none;
    color: #D7D2DB;
}

.friends-chat-Link:hover{
    color:green;
}


#online-container{
    margin-left: 640px;
    margin-top: -145px;
    display: flex;
    flex-direction: column;

}

#online-container img{
    width: 190px;
    height: 185px;
    border-radius: 50%;
}

#online-container>p{
    width: 100px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:white;
    margin-left:15px;
    text-align: center;
}
/* CHAT */
.onlineUsers{
    width: 300px;
}
.chat-container{
    overflow: auto;
    background: rgba(9, 151, 197,0.9);
    width: 450px;
    min-height: 350px;
    margin-left: 150px;
}

#chat-text-box{
    border:solid black 2px;
    margin-left: 122px;
    margin-bottom: 40px;
    font-size: 20px;
}

#textarea-chat-container{
    margin-left: 25px;
    margin-top: 80px;

}

.display-messages{
    width: 90%;
    margin-left: 5px;
    padding:8px;
    display: flex;
    flex-direction: column;
    /*background: green;*/
    margin-top: 8px;
}
.display-messages p{
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.display-messages img{
    width: 80px;
    height: 75px;
    border-radius:2px;
    box-shadow:4px 3px 5px #414144;
}

span{
    margin-left: 10px;
    font-weight: bold;
}
